<h3> All Products </h3>

<div class="row">
	<% @produce.each_slice(3) do |three_products| %>
		<% @three_products.each do |product| %>
			<div class="col-md-4">
				<p>
					<img src ="<%= product.image %>" width="200" ></img>
					<br>
							<a href="/products/<%=product.id%>"> <%= product.name %> </a>
					<br>
					<%= product.price + "/lb" %> 
				</p>
			</div>
		<% end %>
	<% end %>
</div>




<h3> Add a New Product! </h3>
	<%= form_tag "/products", method: :post do %>
		Product Name: <input type="text" name="name">
		<br>
		Product Price Per Pound: <input type="text" name="price">
		<br>
		Product Description: <input type="text" name="description">
		<br>
		Image URL: <input type="text" name="image">
		<br>
		<input type="submit" value="Add a Product!">

	<% end %>
